@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open sans", sans-serif;
}

header{
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position-y: center;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.logo{
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    color: #fff;
}

.menu-principal ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 400px;
    padding: 0 80px;
}

.menu-principal ul li a{
    color: #fff;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.menu-principal ul li a:hover{
    color: #e69c00
}

.icones ul{
    display: flex;
    justify-content: space-between;
    width: 70px;
    list-style: none;
}

.icones ul li a{
    color:#fff;
}

.bt{
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    background-color: #ffbe33;
    font-size: 15px;
    width: 90px;
    display: inline-block;
    text-align: center;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.bt:hover{
    background-color: #e69c00;
}

.hero{
    height: 1000px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #fff;
}

.hero .titulo{
    font-family: "Dancing Script", cursive;
    font-size: 38px;
    
}

.hero .texto{
    width: 600px;
    font-size: 16px;
    margin: 20px 0;
}
